
<div class="hotel-list-wrapper">

    <section class="hero">
        <img [src]="heroImage.src" [alt]="heroImage.alt" class="hero-image">

        <div class="hero-overlay">
            <!-- <h2>Deals on Restaurants </h2>
            <p>Special Deals on Delicious Food</p> -->
            <h2>Deals & <br> Discounts </h2>
            <p>on Delicious Food Menu</p>
        
        </div>
        
      </section>

 
  
    <div class="hotel-card-container">
      <h1>RESTAURANTS</h1>
     
      <app-hotel-card></app-hotel-card>
    </div>
  </div>
  