.hotel-list-wrapper{
  background-color: var(--body-bg-color);
}

.hero {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

/* Hero Image */
.hero img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-fit: fill;
    object-position: center;
    box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.4);


}


  
  .hero-overlay {
    position: absolute;
    top: 25%;
    left: 20%;
    
  }
  
  .hero-overlay h2 {
    font-size: 5rem;
    margin: 0;
    color: var(--header-bg-color);
    
    
    text-align: center;
    /* color: #411517; */

  }
  
  .hero-overlay p {
    font-size: 2.0rem;
    margin: 10px 0 0 0;
    text-align: center;
  }
  
  .hotel-card-container h1 {
    text-align: center;
    font-size: 3.0rem;
    margin: 30px 0 10px 0;
    color: var(--header-bg-color);
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
    .hero {
      height: 300px;
      background-image: url(/images/restaurent/restaurant-banner_1920_700.jpg);
      /* background-image: url(/images/restaurent/Banner-1x1920x700-1.jpg); */
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.4);

  }


    .hero-overlay h2 {
      font-size: 2.5rem;
    }
  
    .hero-overlay p {
      font-size: 1.5rem;
    }

    .hero-overlay {
      top: 25%;
      left: 10%;
      
    }
  }
  
  @media (max-width: 480px) {


    .hero {
        
        height: 200px;
        background-image: url(/images/restaurent/restaurant-banner_1920_1080.jpg);
        /* background-image: url(/images/restaurent/Banner-1-1920x1080.jpg); */
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.4);

    }
  
    /* Hide the <img> on mobile */
    .hero img {
      display: none;
    }





    .hero-overlay {
        position: absolute;
        /* top: 30%;
        left: 5%; */

        top: 25%;
        left: 5%;
        
      }
    .hero-overlay h2 {
      font-size: 20px;

    }
  
    .hero-overlay p {
      font-size: 14px;
    }


    .hotel-card-container h1 {
        font-size: 2.0rem;
        margin: 20px 0 10px 0;
       
      }
  }
  